/* CSS style - smple */
* {
  box-sizing: border-box;
}
.row:after {
  content: "";
  clear: both;
  display: table;
}
[class*="col-"] {
  float: left;
  padding: 15px;
}
html {
  font-family: "Lucida Sans", sans-serif;
}
header {
  background-color: white;
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
}
header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
header li {
  display: inline;
  float: left;
}
header li a {
  color: white;
  display: block;
  padding: 8px;
  text-decoration: none;
  text-align: center;
}
header li a:hover {
  background-color: mediumseagreen;
}
section {
  margin: 15px;
  padding: 10px;
}
label {
  padding: 12px;
  display: inline-block;
}
input[type=button], input[type=submit], input[type=reset] {
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover {
  background-color: white;
  color: green;
}
table {
  border-collapse: collapse;
  width: 100%;
}
table td, table th {
  border: 1px solid #ddd;
  padding: 8px;
}
tr:nth-child(even){background-color: #f2f2f2;}
tr:hover {background-color: #ddd;}
th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}
footer {
  background-color: white;
  position: fixed;
  z-index: 1;
  bottom: 0;
  width: 100%;
}

.ad-button {
  border-radius: 25px;
  background: red;
  color: white;
  padding: 8px;
}
.ad-button:hover {
  background: lightgray;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
}
.flex-container > div {
  margin: 10px;
  padding: 20px;
}
.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}
.menu li a {
  display: block;
  padding: 10px;
  text-decoration: none;  
}
.menu li a:hover {
  background-color: mediumseagreen;
  color: white;
}
.content {
  margin: 15px;
  padding: 10px;
}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}
